@tailwind base;
@tailwind components;
@tailwind utilities;

/* small page defaults */
html, body, #root { height: 100%; }
body { margin: 0; font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }